#!/usr/bin/make -f
export DH_VERBOSE=1
DESTDIR := $(CURDIR)/debian/ocrgrep

%:
	dh $@ --with python3

override_dh_auto_build:
	uv build --wheel --out-dir dist

override_dh_auto_install:
	uv pip install --no-deps --no-index --find-links dist \
		--target $(DESTDIR)/usr/lib/python3/dist-packages ocrgrep
	install -d $(DESTDIR)/usr/bin
	printf '#!/bin/sh\nexec python3 -c "from ocr_grep import main; main()" "$$@"\n' \
		> $(DESTDIR)/usr/bin/ocrgrep
	chmod 755 $(DESTDIR)/usr/bin/ocrgrep
